.textContainer {
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
  border-right: 1px solid #2b2a2a;
  color: #f1f1f1;
  width: 20%;
  justify-content: space-between;
  padding: 15px 0 0 15px;
}

.textContainer button {
  border-radius: 4px;
  height: 30px;
  font-weight: bold;
  color: #313131;
  margin-bottom: 7px;
  border: none;
  width: 150px;
  cursor: pointer;
}
.textContainer button:disabled {
  opacity: 0.2;
}
.textContainer button:disabled:hover {
  color: #313131;
  opacity: 0.2;
}
.textContainer button:hover {
  opacity: 0.8;
  color: white;
}
.textContainer button.start {
  background: #1ce796;
}
.textContainer button.flip {
  background: #44a4d0;
}
.textContainer button.reset {
  background-color: #d63e58;
}
.textContainer button.copy {
  background-color: #2e2e2e;
  color: white;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

.onlineMember {
  margin-right: 10px;
}

.online {
  font-size: 18px;
  margin: 10px 0;
}

.inviteMember {
  padding: 35px 15px 35px 0;
}
.inviteMember h2 {
  border-bottom: 2px solid white;
}
.inviteMember p.inviteUrl {
  font-size: 14px;
  background-color: rgb(59, 59, 59);
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
