.storyCard {
  margin: 5px;
  color: white;
}
.storyCard p {
  text-align: center;
  font-size: 20px;
}
.storyPoint {
  margin-top: 10px;
  width: 120px;
  height: 170px;
  background-color: #16d199;
  border: 3px solid #2eecb3;
  color: white;
  border-radius: 4px;
  position: relative;
  animation: mymove 0.8s;
  animation-timing-function: ease-out;
}
.storyPoint span {
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}
.storyPoint p {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 18px;
}

@keyframes mymove {
  from {
    left: -300px;
    top: 800px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}
/* .messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #29bfb1;
}

.backgroundLight {
  background: #4ca9d5;
}
 */
